.cart__items {
  > * + * {
    margin-top: 15px;
  }
}

.cart__total {
  display: flex;
  justify-content: space-between;
  padding: 50px 30px;
  margin-top: 30px;
  font-size: 36px;
  background-color: aliceblue;
}
