.counter {
  display: flex;
  align-items: center;

  input {
    width: 30%;
    margin-right: 10px;
    text-align: center;
    border: 1px solid #e2e2e2;
  }
}

.arrowUp {
  cursor: pointer;
}

.arrowDown {
  cursor: pointer;
}
